In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import os

In [22]:
df_metadata= pd.read_csv('/Users/josephlim/Desktop/Data Science/Capstone Projects/Capstone Project- Optimizing User Experience in Recommender System/Optimizing User Experience in Recommender System Data/movies_metadata.csv')
df_credits= pd.read_csv('/Users/josephlim/Desktop/Data Science/Capstone Projects/Capstone Project- Optimizing User Experience in Recommender System/Optimizing User Experience in Recommender System Data/credits.csv')

/var/folders/z9/t15ddpld70nc5qf41442lpr80000gn/T/ipykernel_2173/2898102119.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_metadata= pd.read_csv('/Users/josephlim/Desktop/Data Science/Capstone Projects/Capstone Project- Optimizing User Experience in Recommender System/Optimizing User Experience in Recommender System Data/movies_metadata.csv')

In [3]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [4]:
df_credits.shape

(45476, 3)

In [5]:
df_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [6]:
df_metadata.shape

(45466, 24)

In [7]:
df_metadata['status'].unique()

array(['Released', nan, 'Rumored', 'Post Production', 'In Production',
       'Planned', 'Canceled'], dtype=object)

In [8]:
df_metadata= df_metadata.loc[df_metadata['status']=='Released']

In [9]:
df_metadata['status'].unique()

array(['Released'], dtype=object)

In [10]:
df_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45014 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45014 non-null  object
 1   belongs_to_collection  4466 non-null   object
 2   budget                 45014 non-null  object
 3   genres                 45014 non-null  object
 4   homepage               7706 non-null   object
 5   id                     45014 non-null  object
 6   imdb_id                44999 non-null  object
 7   original_language      45004 non-null  object
 8   original_title         45014 non-null  object
 9   overview               44094 non-null  object
 10  popularity             45014 non-null  object
 11  poster_path            44641 non-null  object
 12  production_companies   45014 non-null  object
 13  production_countries   45014 non-null  object
 14  release_date           44936 non-null  object
 15  revenue                45014 non-null  float64
 16  runtime                44763 non-null  float64
 17  spoken_languages       45014 non-null  object
 18  status                 45014 non-null  object
 19  tagline                20300 non-null  object
 20  title                  45014 non-null  object
 21  video                  45014 non-null  object
 22  vote_average           45014 non-null  float64
 23  vote_count             45014 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.6+ MB

In [11]:
df_metadata.shape

(45014, 24)

In [12]:
df_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [14]:
df_metadata=df_metadata.astype({'id':int})

In [15]:
na_col=df_metadata.columns[df_metadata.columns!= 'imdb_id']
df_metadata[na_col]=df_metadata[na_col].replace({np.nan:'Not Available'})

In [16]:
df_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45014 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45014 non-null  object
 1   belongs_to_collection  45014 non-null  object
 2   budget                 45014 non-null  object
 3   genres                 45014 non-null  object
 4   homepage               45014 non-null  object
 5   id                     45014 non-null  int64
 6   imdb_id                44999 non-null  object
 7   original_language      45014 non-null  object
 8   original_title         45014 non-null  object
 9   overview               45014 non-null  object
 10  popularity             45014 non-null  object
 11  poster_path            45014 non-null  object
 12  production_companies   45014 non-null  object
 13  production_countries   45014 non-null  object
 14  release_date           45014 non-null  object
 15  revenue                45014 non-null  float64
 16  runtime                45014 non-null  object
 17  spoken_languages       45014 non-null  object
 18  status                 45014 non-null  object
 19  tagline                45014 non-null  object
 20  title                  45014 non-null  object
 21  video                  45014 non-null  bool
 22  vote_average           45014 non-null  float64
 23  vote_count             45014 non-null  float64
dtypes: bool(1), float64(3), int64(1), object(19)
memory usage: 8.3+ MB

In [18]:
df1= df_metadata.loc[df_metadata['imdb_id'].isnull()]

In [19]:
df1

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
8966,False,Not Available,1000000,"[{'id': 80, 'name': 'Crime'}]",Not Available,36337,NaN,en,Delusion,"In this fast-paced, noirish road movie, a comp...",...,1991-06-07,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She only wanted love. But money's better than ...,Delusion,False,4.8,3.0
13757,False,Not Available,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",Not Available,200796,NaN,pl,Show,Not Available,...,2003-03-19,0.0,Not Available,[],Released,Not Available,Show,False,6.3,2.0
13821,False,"{'id': 75014, 'name': 'How I Unleashed World W...",0,"[{'id': 10769, 'name': 'Foreign'}, {'id': 28, ...",Not Available,75015,NaN,pl,Jak rozpętałem drugą wojnę światową: Cz.3 - Wś...,How I Unleashed World War II tells the story o...,...,1970-04-06,0.0,73.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,Not Available,How I Unleashed World War II Part III: Among F...,False,7.0,3.0
17382,False,Not Available,2500000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",http://www.delawarepictures.net/dreamkiller/,36663,NaN,en,Dreamkiller,"A team of doctors experiment with a new, highl...",...,Not Available,0.0,110.0,[],Released,Fear is the greatest killer.,Dreamkiller,False,5.0,1.0
18959,False,Not Available,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 16,...",Not Available,28500,NaN,en,Before The Dinosaurs - Walking With Monsters,Many people think of the dinosaurs as the firs...,...,2005-11-05,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Not Available,Before The Dinosaurs - Walking With Monsters,False,7.3,12.0
19322,False,Not Available,0,[],Not Available,118013,NaN,en,Endeavour,Shaun Evans (The Take) steps into John Thaw's ...,...,Not Available,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Rookie detective Endeavor Morse faces his firs...,Endeavour,False,6.6,19.0
20806,False,Not Available,0,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",Not Available,15257,NaN,en,Hulk vs. Wolverine,Department H sends in Wolverine to track down ...,...,2009-01-27,0.0,38.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Not Available,Hulk vs. Wolverine,False,6.8,48.0
20937,False,Not Available,0,"[{'id': 37, 'name': 'Western'}, {'id': 28, 'na...",Not Available,55576,NaN,en,Last Stand at Saber River,"As America recovers from the Civil War, one ma...",...,1997-01-19,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Not Available,Last Stand at Saber River,False,3.7,3.0
21916,False,Not Available,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",Not Available,293412,NaN,en,Running Wild,Jennifer Barker plays a troubled woman who has...,...,1995-01-01,0.0,0.0,[],Released,Not Available,Running Wild,False,10.0,1.0
23744,False,"{'id': 246207, 'name': 'Gunbuster Collection',...",0,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",Not Available,30146,NaN,ja,トップをねらえ！＆トップをねらえ２！合体劇場版!!,This double feature comprises of Gunbuster and...,...,2006-10-01,0.0,180.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,Not Available,Gunbuster vs Diebuster Aim for the Top! The GA...,False,6.5,5.0
33753,False,Not Available,0,[],Not Available,324017,NaN,en,The Master,"In 19th-century China, during the infamous Qin...",...,2017-01-01,0.0,109.0,[],Released,Not Available,The Master,False,0.0,0.0
36955,False,Not Available,0,[],Not Available,161535,NaN,en,Doraemon:貓狗時空傳,"One day, Nobita finds a stray dog drowning in ...",...,2004-03-06,0.0,0.0,[],Released,Not Available,Doraemon:貓狗時空傳,False,0.0,0.0
40809,False,Not Available,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",Not Available,65256,NaN,en,H2O Just Add Water - The Movie,When three normal teenage girls stumble upon a...,...,2011-10-10,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Do you believe in mermaids?,H2O Just Add Water - The Movie,False,6.4,37.0
41832,False,Not Available,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",Not Available,430514,NaN,fr,Le passe-muraille,Not Available,...,2016-12-16,0.0,Not Available,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,Not Available,Le passe-muraille,False,0.0,0.0
45070,False,Not Available,0,[],Not Available,439314,NaN,en,The Garden of Afflictions 2017,Brazilian philosopher Olavo de Carvalho's thin...,...,Not Available,0.0,0.0,[],Released,Not Available,The Garden of Afflictions 2017,False,0.0,0.0

In [20]:
df_metadata['imdb_id']=df_metadata['imdb_id'].replace({np.nan:'Not Available'})

In [21]:
df= df_credits.merge(df_metadata, on='id')

In [24]:
df.to_csv('metatadata_credits_cleaned.csv')